<div class="full-width {{ section.settings | class_list }} color-{{ section.settings.color_scheme }}">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Custom Section Name",
   "blocks": [
    { "type": "@theme" },
    { "type": "@app" }
  ],
  "presets":[{"name":"Custom Section Preset"}]
}
{% endschema %}